$icomoon-font-family: "flaticon" !default;
$icomoon-font-path: "fonts" !default;

$flaticon-clock: "\e98d";
$flaticon-hour: "\e9d2";
$flaticon-clock-3: "\e9da";
$flaticon-watch: "\e9ef";
$flaticon-mail-24: "\e9ff";
$flaticon-mail-25: "\ea00";
$flaticon-mail-26: "\ea01";
$flaticon-mail-27: "\ea02";
$flaticon-mail-28: "\ea03";
$flaticon-mail-29: "\ea04";
$flaticon-mail-30: "\ea05";
$flaticon-bell-27: "\ea06";
$flaticon-bell-28: "\ea07";
$flaticon-bell-bell-32: "\ea08";
$flaticon-bell-30: "\ea09";
$flaticon-bell-23: "\ea0b";
$flaticon-primary-bold: "\ea0c";
$flaticon-bell-3: "\ea0d";
$flaticon-rubbish-bin: "\ea10";
$flaticon-plus: "\ea11";
$flaticon-close: "\ea12";
$flaticon-like-12: "\ea14";
$flaticon-heart: "\ea15";
$flaticon-arrow-next: "\ea16";
$flaticon-arrow-back: "\ea17";
$flaticon-arrow-down-2: "\ea18";
$flaticon-timer: "\ea19";
$flaticon-arrow-up-2: "\ea1a";
$flaticon-microphone: "\ea9c";
$flaticon-microphone-1: "\ea9d";
$flaticon-location-1: "\ea9e";
$flaticon-delete-can-fill-1: "\eaa0";
$flaticon-delete-can-fill-2: "\eaa1";
$flaticon-comment: "\eaa2";
$flaticon-chat-line-1: "\eaa3";
$flaticon-camera-fill: "\eaa4";
$flaticon-sky-fill: "\eaa5";
$flaticon-umbrella: "\eaa6";
$flaticon-sea-waves: "\eaa7";
$flaticon-moon-fill: "\eaa8";
$flaticon-multi-star-fill: "\eaa9";
$flaticon-rain-fill: "\eaaa";
$flaticon-drop-fill: "\eaab";
$flaticon-cloudy-fill: "\eaac";
$flaticon-sun-fill: "\eaad";
$flaticon-moon-fill-1: "\eaae";
$flaticon-rain-fill-1: "\eaaf";
$flaticon-temperature: "\eab0";
$flaticon-rain-fill-3: "\eab1";
$flaticon-windy-fill: "\eab2";
$flaticon-umbrella-1: "\eab3";
$flaticon-windy-fill-1: "\eab4";
$flaticon-wind-bold: "\eab5";
$flaticon-light-fill: "\eab6";
$flaticon-sunset-fill: "\eab7";
$flaticon-computer-line: "\eab8";
$flaticon-pencil-line: "\eabc";
$flaticon-calendar-bold: "\eabd";
$flaticon-calendar-12: "\eabe";
$flaticon-calendar-22: "\eabf";
$flaticon-logout: "\eac0";
$flaticon-power-button: "\eac1";
$flaticon-like-4: "\eac2";
$flaticon-circle-menu-dot: "\f2b3";
$flaticon-stop: "\f2d5";
$flaticon-circle-cross: "\f2d6";
$flaticon-log: "\f2d7";
$flaticon-circle-double-tick: "\f2d8";
$flaticon-tree: "\f2d9";
$flaticon-fill-car: "\f2da";
$flaticon-building: "\f2dc";
$flaticon-left-fill-arrow: "\f2dd";
$flaticon-bath: "\f2de";
$flaticon-single-circle-tick: "\f2df";
$flaticon-reload-bold: "\f2e0";
$flaticon-circle-bold: "\f2e1";
$flaticon-single-tick: "\f2e2";
$flaticon-right-menu: "\f2e3";
$flaticon-pause: "\f2e4";
$flaticon-building-1: "\f2e5";
$flaticon-left-dot-menu: "\f2e6";
$flaticon-square-cross: "\f2e7";
$flaticon-fill-area: "\f2e8";
$flaticon-refresh-bold: "\f2ea";
$flaticon-play-bold: "\f2eb";
$flaticon-circle-plus: "\f2ec";
$flaticon-square-menu: "\f2ed";
$flaticon-three-line-menu: "\f2ee";
$flaticon-left-menu: "\f2ef";
$flaticon-off: "\f2f0";
$flaticon-menu-bold: "\f2f1";
$flaticon-pause-bold: "\f2f2";
$flaticon-play-fill: "\f2f3";
$flaticon-paly-bold: "\f2f4";
$flaticon-next2: "\f2f5";
$flaticon-cart-fill: "\f2f7";
$flaticon-link-line: "\f2f8";
$flaticon-bed-fill: "\f2fa";
$flaticon-center-menu: "\f2fb";
$flaticon-stop-fill: "\f2fc";
$flaticon-square-tick: "\f2fd";
$flaticon-bell: "\f28a";
$flaticon-danger-2: "\f2b4";
$flaticon-mailbox: "\f2b5";
$flaticon-view: "\f2b6";
$flaticon-danger-3: "\f2b7";
$flaticon-send-arrow: "\f2b8";
$flaticon-delete: "\f2b9";
$flaticon-star-outline: "\f2ba";
$flaticon-mail-line-2: "\f2c0";
$flaticon-bell-9: "\f2c1";
$flaticon-disk: "\f2c2";
$flaticon-shuffle-arrow: "\f2c3";
$flaticon-logout-arrow: "\f2c5";
$flaticon-shuffle-dot: "\f2c6";
$flaticon-delete-1: "\f2c7";
$flaticon-star-fill: "\f2c8";
$flaticon-shuffle-line: "\f2ca";
$flaticon-send-fill: "\f2cb";
$flaticon-danger-line: "\f2cc";
$flaticon-delete-2: "\f2ce";
$flaticon-double-chat: "\f2cf";
$flaticon-mail-edit: "\f2d0";
$flaticon-bell-10: "\f2d2";
$flaticon-key-2: "\f2d3";
$flaticon-mail-open: "\f2d4";
$flaticon-reload-line: "\f280";
$flaticon-dobble-down-arrow: "\f281";
$flaticon-bitcoin-circle: "\f282";
$flaticon-cancel-line-circle: "\f283";
$flaticon-reload-dash: "\f287";
$flaticon-leaf: "\f288";
$flaticon-refresh-circle: "\f289";
$flaticon-pie-line-chart: "\f28c";
$flaticon-crm-screen: "\f290";
$flaticon-chat-line: "\f294";
$flaticon-file-upload-line: "\f297";
$flaticon-reload-lite: "\f29a";
$flaticon-drink-dash-line: "\f29c";
$flaticon-location-line: "\f29d";
$flaticon-refresh-line-arrow: "\f29e";
$flaticon-circle-reload-line: "\f2a1";
$flaticon-primary: "\f2a2";
$flaticon-location-fill: "\f2a3";
$flaticon-home-fill: "\f2a4";
$flaticon-bitcoin-logo: "\f2a5";
$flaticon-crm-screen-line: "\f2a6";
$flaticon-saas: "\f2a8";
$flaticon-double-arrow-up: "\f2a9";
$flaticon-simple-screen-line: "\f2aa";
$flaticon-plus-file: "\f2af";
$flaticon-non-veg: "\f2b0";
$flaticon-map: "\f18e";
$flaticon-cloud-upload: "\f1a8";
$flaticon-settings-2: "\f11e";
$flaticon-bell-2: "\f133";
$flaticon-mail-fill: "\f1ba";
$flaticon-package: "\f11d";
$flaticon-edit-7: "\f166";
$flaticon-line: "\f1b8";
$flaticon-scale: "\f10a";
$flaticon-stethoscope-line: "\f1b9";
$flaticon-computer-1: "\f134";
$flaticon-computer-4: "\f129";
$flaticon-settings-1: "\f165";
$flaticon-chat: "\f10e";
$flaticon-redo-1: "\f17b";
$flaticon-bell-11: "\f124";
$flaticon-home-square: "\f19b";
$flaticon-log-1: "\f146";
$flaticon-luggage: "\f14a";
$flaticon-download: "\f187";
$flaticon-log-2: "\f160";
$flaticon-file: "\f177";
$flaticon-log-3: "\f153";
$flaticon-square-plus: "\f1b3";
$flaticon-stats: "\f168";
$flaticon-shuffle: "\f180";
$flaticon-star-line: "\f13d";
$flaticon-computer-5: "\f1a1";
$flaticon-computer-6: "\f15f";
$flaticon-left-arrow: "\f192";
$flaticon-checked: "\f183";
$flaticon-credit-card-1: "\f142";
$flaticon-computer-7: "\f15e";
$flaticon-airplane: "\f14b";
$flaticon-attachment: "\f164";
$flaticon-star-fill-1: "\f159";
$flaticon-table: "\f17e";
$flaticon-refresh-2: "\f170";
$flaticon-bar-chart-2: "\f18f";
$flaticon-search-1: "\f169";
$flaticon-full-screen: "\f198";
$flaticon-calendar: "\f179";
$flaticon-controller: "\f1a9";
$flaticon-heart-1: "\f13f";
$flaticon-computer-8: "\f15c";
$flaticon-email-1: "\f114";
$flaticon-hourglass: "\f102";
$flaticon-search: "\f193";
$flaticon-view-1: "\f135";
$flaticon-layers: "\f17f";
$flaticon-edit: "\f188";
$flaticon-bell-13: "\f131";
$flaticon-cup: "\f148";
$flaticon-menu-line-dot: "\f195";
$flaticon-share-line: "\f1ae";
$flaticon-bell-1: "\f136";
$flaticon-controller-1: "\f147";
$flaticon-log-4: "\f172";
$flaticon-note-1: "\f175";
$flaticon-crop: "\f1b0";
$flaticon-bar-chart: "\f137";
$flaticon-edit-2: "\f18b";
$flaticon-edit-3: "\f1b1";
$flaticon-email-4: "\f111";
$flaticon-email-3: "\f112";
$flaticon-computer-3: "\f11b";
$flaticon-location: "\f1ab";
$flaticon-calculator: "\f19a";
$flaticon-delete-4: "\f167";
$flaticon-gear: "\f13b";
$flaticon-cutlery-1: "\f10d";
$flaticon-down-arrow: "\f182";
$flaticon-computer-9: "\f13c";
$flaticon-bell-14: "\f158";
$flaticon-logistics: "\f16c";
$flaticon-3d-cube: "\f1a2";
$flaticon-note-2: "\f1b5";
$flaticon-minimize: "\f122";
$flaticon-laptop: "\f1bb";
$flaticon-cart-bag: "\f18a";
$flaticon-computer: "\f140";
$flaticon-computer-10: "\f184";
$flaticon-email-5: "\f101";
$flaticon-lock-3: "\f16a";
$flaticon-crop-1: "\f11a";
$flaticon-menu-dot-fill: "\f157";
$flaticon-computer-2: "\f132";
$flaticon-bell-15: "\f1a7";
$flaticon-arrows-1: "\f181";
$flaticon-warning: "\f178";
$flaticon-ruler-and-pencil: "\f19d";
$flaticon-menu-circle-line: "\f144";
$flaticon-flip: "\f118";
$flaticon-delete-5: "\f1ad";
$flaticon-shuffle-2: "\f145";
$flaticon-home-line: "\f13a";
$flaticon-calendar-1: "\f11c";
$flaticon-edit-1: "\f14f";
$flaticon-chart-2: "\f15d";
$flaticon-elements: "\f100";
$flaticon-danger: "\f19c";
$flaticon-arrows-8: "\f121";
$flaticon-shuffle-1: "\f150";
$flaticon-log-5: "\f12c";
$flaticon-chat-bubble: "\f151";
$flaticon-table-1: "\f17d";
$flaticon-user-group: "\f16b";
$flaticon-computer-11: "\f12a";
$flaticon-email: "\f143";
$flaticon-car: "\f120";
$flaticon-log-6: "\f11f";
$flaticon-circle-menu-line: "\f1a5";
$flaticon-bell-16: "\f15b";
$flaticon-medical-box: "\f1a0";
$flaticon-copy: "\f186";
$flaticon-edit-4: "\f119";
$flaticon-cart-1: "\f18c";
$flaticon-power-off: "\f1aa";
$flaticon-chart: "\f10c";
$flaticon-reload-1: "\f171";
$flaticon-dot-menu: "\f19e";
$flaticon-credit-card: "\f16e";
$flaticon-dot-menu-line: "\f152";
$flaticon-time: "\f1a3";
$flaticon-edit-5: "\f17a";
$flaticon-chart-3: "\f116";
$flaticon-notes-2: "\f176";
$flaticon-right-arrow: "\f191";
$flaticon-map-1: "\f127";
$flaticon-expand: "\f106";
$flaticon-menu-list: "\f130";
$flaticon-download-1: "\f173";
$flaticon-mail-2: "\f115";
$flaticon-bed: "\f1bc";
$flaticon-profits: "\f1bd";
$flaticon-drugs: "\f1bf";
$flaticon-medicine: "\f1c3";
$flaticon-google-plus-bold: "\f1c4";
$flaticon-notes: "\f1c5";
$flaticon-bank-safe-box: "\f1c6";
$flaticon-shooting-star: "\f1c7";
$flaticon-moon: "\f1c8";
$flaticon-moon-3: "\f1c9";
$flaticon-youtube-logo: "\f1ca";
$flaticon-paypal-outlined-logo: "\f1cc";
$flaticon-target: "\f1cd";
$flaticon-wind: "\f1ce";
$flaticon-check: "\f1cf";
$flaticon-bed-1: "\f1d0";
$flaticon-cloud-1: "\f1d1";
$flaticon-instagram-logo: "\f1d2";
$flaticon-moon-1: "\f1d3";
$flaticon-pinterest-logo: "\f1d5";
$flaticon-instagram-social-outlined-logo: "\f1d7";
$flaticon-shower: "\f1d8";
$flaticon-chat-2: "\f1db";
$flaticon-money: "\f1dc";
$flaticon-facebook-line: "\f1dd";
$flaticon-note-like: "\f1de";
$flaticon-rainbow: "\f1df";
$flaticon-linkedin-line: "\f1e0";
$flaticon-twitter-logo: "\f1e1";
$flaticon-spinner-of-dots: "\f1e2";
$flaticon-youtube-play-button-line: "\f1e3";
$flaticon-weather-4: "\f1e4";
$flaticon-summer: "\f1e5";
$flaticon-bell-17: "\f1e6";
$flaticon-cloud: "\f1e7";
$flaticon-display: "\f1e8";
$flaticon-notes-3: "\f1e9";
$flaticon-arrow-1: "\f1ea";
$flaticon-notes-1: "\f1eb";
$flaticon-note-copy: "\f1ec";
$flaticon-cart-bag-1: "\f1ed";
$flaticon-setting-line: "\f1ee";
$flaticon-line-chart: "\f1ef";
$flaticon-sort-down: "\f1f1";
$flaticon-sun: "\f1f2";
$flaticon-earth-globe: "\f1f3";
$flaticon-search-chart: "\f1f4";
$flaticon-tree-1: "\f1f5";
$flaticon-dollar-coin: "\f1f6";
$flaticon-cart-fill-1: "\f1f8";
$flaticon-humidity: "\f1f9";
$flaticon-storm: "\f1fb";
$flaticon-user-1: "\f1fc";
$flaticon-settings-3: "\f1fd";
$flaticon-wind-2: "\f1fe";
$flaticon-dribbble-line: "\f1ff";
$flaticon-share-line-1: "\f200";
$flaticon-exchange: "\f201";
$flaticon-android-line: "\f202";
$flaticon-windy: "\f204";
$flaticon-video-camera: "\f205";
$flaticon-weather-3: "\f206";
$flaticon-idea-bulb: "\f207";
$flaticon-twitter-line: "\f208";
$flaticon-telephone: "\f209";
$flaticon-weather: "\f20b";
$flaticon-google-plus-line: "\f20c";
$flaticon-display-1: "\f20d";
$flaticon-pinterest-line: "\f20e";
$flaticon-weather-5: "\f20f";
$flaticon-speedometer-tool: "\f210";
$flaticon-night: "\f211";
$flaticon-star-circle-line: "\f212";
$flaticon-lock-4: "\f213";
$flaticon-switch: "\f215";
$flaticon-users: "\f216";
$flaticon-user-group-1: "\f219";
$flaticon-chat-1: "\f21a";
$flaticon-airplane-1: "\f21c";
$flaticon-sky-rain: "\f21d";
$flaticon-cart-bag-2: "\f21e";
$flaticon-avatar: "\f21f";
$flaticon-home-line-1: "\f220";
$flaticon-link: "\f221";
$flaticon-behance-logo: "\f222";
$flaticon-nurse: "\f224";
$flaticon-storm-1: "\f225";
$flaticon-healthy: "\f227";
$flaticon-youtube-play-fill: "\f228";
$flaticon-cloud-2: "\f22b";
$flaticon-weather-6: "\f22e";
$flaticon-share-1: "\f22f";
$flaticon-bar-chart-1: "\f230";
$flaticon-photo-camera: "\f232";
$flaticon-send: "\f233";
$flaticon-dribbble-bold: "\f234";
$flaticon-sky-sun: "\f235";
$flaticon-placeholder: "\f236";
$flaticon-social: "\f237";
$flaticon-question: "\f238";
$flaticon-shuffle-3: "\f239";
$flaticon-sky-rain-1: "\f23b";
$flaticon-up-arrow-fill: "\f23c";
$flaticon-pinterest: "\f23e";
$flaticon-time-2: "\f240";
$flaticon-spinner-circle: "\f241";
$flaticon-robot: "\f242";
$flaticon-up-chart: "\f244";
$flaticon-paypal-logo: "\f246";
$flaticon-resize: "\f247";
$flaticon-gift: "\f249";
$flaticon-target-1: "\f24a";
$flaticon-linkedin-logo: "\f24b";
$flaticon-commerce: "\f24d";
$flaticon-chart-line: "\f24f";
$flaticon-share-3: "\f250";
$flaticon-bitcoin-chart: "\f251";
$flaticon-gear-2: "\f252";
$flaticon-night-1: "\f253";
$flaticon-desk-chair: "\f254";
$flaticon-business: "\f255";
$flaticon-crescent-moon-1: "\f256";
$flaticon-apple-logotype: "\f257";
$flaticon-pencil-1: "\f258";
$flaticon-downloading: "\f25a";
$flaticon-lightning-1: "\f25b";
$flaticon-facebook-logo: "\f25c";
$flaticon-user-circle: "\f25d";
$flaticon-weather-2: "\f25e";
$flaticon-share-2: "\f25f";
$flaticon-moon-2: "\f260";
$flaticon-upload-file: "\f262";
$flaticon-apple-line: "\f263";
$flaticon-lightning: "\f267";
$flaticon-waning-moon: "\f268";
$flaticon-behance-line: "\f269";
$flaticon-crescent-moon: "\f26c";
$flaticon-tag: "\f26e";
$flaticon-networking: "\f270";
$flaticon-calendar-2: "\f271";
$flaticon-medical-history: "\f272";
$flaticon-rain: "\f273";
$flaticon-notepad: "\f274";
$flaticon-stopwatch-outlined-sportive-tool-symbol: "\f276";
$flaticon-humidity-1: "\f277";
$flaticon-lock-5: "\f279";
$flaticon-waning-moon-1: "\f27a";
$flaticon-android-logo: "\f27b";
$flaticon-roomkey-2: "\f27d";
$flaticon-car-1: "\f27e";
$flaticon-mic-1: "\f27f";
$flaticon-wind2: "\e900";
$flaticon-wind-1: "\e901";
$flaticon-wink: "\e902";
$flaticon-confused-fill: "\e903";
$flaticon-dead-fill: "\e904";
$flaticon-laughing-fill: "\e905";
$flaticon-neutral-fill: "\e906";
$flaticon-angry-fill: "\e907";
$flaticon-smile-fill: "\e908";
$flaticon-sad-fill: "\e909";
$flaticon-angry-1: "\e90a";
$flaticon-happy: "\e90b";
$flaticon-confused: "\e90c";
$flaticon-angry: "\e90d";
$flaticon-sad-teardrop: "\e90e";
$flaticon-happy-smiling: "\e90f";
$flaticon-smiling: "\e910";
$flaticon-sad: "\e911";
$flaticon-pdf: "\e912";
$flaticon-notes-4: "\e913";
$flaticon-notes-5: "\e914";
$flaticon-edit2: "\e915";
$flaticon-stop-watch: "\e916";
$flaticon-picture: "\e917";
$flaticon-search-2: "\e918";
$flaticon-bulb: "\e919";
$flaticon-mail-14: "\e91a";
$flaticon-user-group-2: "\e91b";
$flaticon-target-2: "\e91c";
$flaticon-edit-6: "\e91d";
$flaticon-notes-6: "\e91e";
$flaticon-send-fill-1: "\e91f";
$flaticon-wall-clock: "\e920";
$flaticon-clock-2: "\e921";
$flaticon-currency: "\e922";
$flaticon-delete-6: "\e923";
$flaticon-like-3: "\e924";
$flaticon-like-2: "\e925";
$flaticon-like-1: "\e926";
$flaticon-right-arrow-3: "\e927";
$flaticon-left-arrows: "\e928";
$flaticon-back-arrow: "\e929";
$flaticon-cancel-2: "\e92a";
$flaticon-checked-2: "\e92b";
$flaticon-plus-2: "\e92c";
$flaticon-right-arrow-2: "\e92d";
$flaticon-down-arrow-1: "\e92e";
$flaticon-up-arrow-2: "\e92f";
$flaticon-add-circle-outline: "\e930";
$flaticon-minus-1: "\e931";
$flaticon-minus-2: "\e932";
$flaticon-minus-fill: "\e933";
$flaticon-twitter-letter-logo: "\e934";
$flaticon-download-2: "\e935";
$flaticon-bill: "\e936";
$flaticon-user-12: "\e937";
$flaticon-bell-18: "\e938";
$flaticon-clock-1: "\e939";
$flaticon-view-2: "\e93a";
$flaticon-view-3: "\e93b";
$flaticon-stopwatch-1: "\e93c";
$flaticon-print: "\e93e";
$flaticon-copy-document: "\e93f";
$flaticon-copy-line: "\e940";
$flaticon-back-arrow-1: "\e941";
$flaticon-cancel-12: "\e942";
$flaticon-plus-1: "\e943";
$flaticon-previous: "\e944";
$flaticon-next: "\e945";
$flaticon-profits-1: "\e946";
$flaticon-next-arrow: "\e947";
$flaticon-send-line-1: "\e948";
$flaticon-right-arrow-12: "\e949";
$flaticon-document-3: "\e94a";
$flaticon-document-2: "\e94b";
$flaticon-bounce: "\e94c";
$flaticon-zoom-in: "\e94d";
$flaticon-zoom-out: "\e94e";
$flaticon-globe: "\e94f";
$flaticon-mail-13: "\e950";
$flaticon-mail-15: "\e951";
$flaticon-mail-16: "\e953";
$flaticon-mail-17: "\e954";
$flaticon-menu-3: "\e955";
$flaticon-mail-12: "\e956";
$flaticon-menu-dot-1: "\e957";
$flaticon-mail-11: "\e959";
$flaticon-mail-10: "\e95a";
$flaticon-more-dot-line: "\e95b";
$flaticon-mail-18: "\e95c";
$flaticon-chat-bubble-fill: "\e95d";
$flaticon-chat-bubble-line: "\e95e";
$flaticon-chat-3: "\e962";
$flaticon-menu-1: "\e964";
$flaticon-menu-line-2: "\e965";
$flaticon-mail-19: "\e966";
$flaticon-mail-7: "\e967";
$flaticon-dot-four: "\e96a";
$flaticon-mail-6: "\e96b";
$flaticon-mail-5: "\e96c";
$flaticon-menu-line-3: "\e96d";
$flaticon-list2: "\e96e";
$flaticon-stack: "\e96f";
$flaticon-menu-line-4: "\e970";
$flaticon-email-fill: "\e971";
$flaticon-email-fill-1: "\e972";
$flaticon-email-fill-2: "\e973";
$flaticon-dot-three: "\e975";
$flaticon-email-fill-3: "\e976";
$flaticon-chart-finance: "\e977";
$flaticon-refresh-1: "\e978";
$flaticon-bell-7: "\e979";
$flaticon-setting-1: "\e97a";
$flaticon-setting-2: "\e97b";
$flaticon-key-1: "\e97c";
$flaticon-setting-3: "\e97e";
$flaticon-bell-6: "\e97f";
$flaticon-mail-20: "\e980";
$flaticon-mail-21: "\e981";
$flaticon-mail-3: "\e982";
$flaticon-mail-22: "\e983";
$flaticon-bell-5: "\e984";
$flaticon-mail-1: "\e985";
$flaticon-profits-2: "\e986";
$flaticon-loss-arrow: "\e987";
$flaticon-reply: "\e988";
$flaticon-bell-19: "\e989";
$flaticon-bell-20: "\e98a";
$flaticon-like-circle: "\e98e";
$flaticon-loading-1: "\e990";
$flaticon-bell-4: "\e991";
$flaticon-bell-21: "\e992";
$flaticon-loading: "\e993";
$flaticon-danger-4: "\e994";
$flaticon-cart-2: "\e995";
$flaticon-share-5: "\e996";
$flaticon-star: "\e997";
$flaticon-user-11: "\e998";
$flaticon-gear-fill: "\e999";
$flaticon-user-fill: "\e99a";
$flaticon-internet: "\e99b";
$flaticon-folder-fill: "\e99c";
$flaticon-document-fill: "\e99d";
$flaticon-phone--fill: "\e99e";
$flaticon-key-3: "\e99f";
$flaticon-mail-23: "\e9a0";
$flaticon-user-9: "\e9a1";
$flaticon-shuffle-12: "\e9a2";
$flaticon-user-8: "\e9a3";
$flaticon-log-7: "\e9a4";
$flaticon-gear-5: "\e9a5";
$flaticon-user-7: "\e9a6";
$flaticon-shuffle-bold: "\e9a7";
$flaticon-bell-22: "\e9a8";
$flaticon-locked: "\e9a9";
$flaticon-lock-2: "\e9aa";
$flaticon-user-6: "\e9ab";
$flaticon-user-5: "\e9ac";
$flaticon-placeholder-fill: "\e9ad";
$flaticon-unlink: "\e9ae";
$flaticon-folder-fill-1: "\e9af";
$flaticon-time-1: "\e9b0";
$flaticon-bell-fill-1: "\e9b1";
$flaticon-gear-4: "\e9b2";
$flaticon-share-6: "\e9b3";
$flaticon-share-4: "\e9b4";
$flaticon-fill-tick: "\e9b5";
$flaticon-close-fill: "\e9b6";
$flaticon-plus-fill: "\e9b7";
$flaticon-folder: "\e9b9";
$flaticon-lock-1: "\e9ba";
$flaticon-bell-12: "\e9bf";
$flaticon-film: "\e9c0";
$flaticon-double-check: "\e9c1";
$flaticon-sort: "\e9c2";
$flaticon-back-1: "\e9c3";
$flaticon-checked-1: "\e9c4";
$flaticon-single-checked: "\e9c5";
$flaticon-cancel-circle: "\e9c6";
$flaticon-gear-3: "\e9c7";
$flaticon-link-2: "\e9c8";
$flaticon-up-arrow-12: "\e9c9";
$flaticon-down-arrow-2: "\e9ca";
$flaticon-lock-6: "\e9cb";
$flaticon-settings-4: "\e9cc";
$flaticon-log-8: "\e9cd";
$flaticon-gear-22: "\e9ce";
$flaticon-warning-fill: "\e9cf";
$flaticon-gear-1: "\e9d0";
$flaticon-bell-24: "\e9d1";
$flaticon-down-arrow-3: "\e9d3";
$flaticon-up-arrow-3: "\e9d4";
$flaticon-video-fill: "\e9d5";
$flaticon-inverted-comma: "\e9d7";
$flaticon-settings-5: "\e9d8";
$flaticon-shuffle-4: "\e9d9";
$flaticon-settings-6: "\e9db";
$flaticon-bell-25: "\e9dc";
$flaticon-chart-line-1: "\e9dd";
$flaticon-keypad-dot: "\e9de";
$flaticon-menu-4: "\e9df";
$flaticon-settings-7: "\e9e0";
$flaticon-bell-26: "\e9e1";
$flaticon-arrow-left: "\e9e2";
$flaticon-arrow-down: "\e9e3";
$flaticon-delete-fill: "\e9e4";
$flaticon-inverted-comma-1: "\e9e5";
$flaticon-reload-2: "\e9e6";
$flaticon-refresh: "\e9e7";
$flaticon-left-arrow-12: "\e9e8";
$flaticon-chat-fill: "\e9e9";
$flaticon-edit-fill: "\e9ea";
$flaticon-dots: "\e9eb";
$flaticon-chat-fill-1: "\e9ec";
$flaticon-bell-fill-2: "\e9ed";
$flaticon-forward-arrow: "\e9ee";
$flaticon-cart: "\e9f0";
$flaticon-lock: "\e9f2";
$flaticon-home-fill-1: "\e9f3";
$flaticon-gift-fill: "\e9f4";
$flaticon-up-arrow-fill-1: "\e9f5";
$flaticon-right-arrow-fill: "\e9f6";
$flaticon-left-arrow-fill: "\e9f7";
$flaticon-mail-fill-1: "\e9f8";
$flaticon-down-arrow-fill: "\e9fa";
$flaticon-error: "\e9fc";
$flaticon-wallet: "\e95f";
$flaticon-employees: "\e960";
$flaticon-plane-1: "\e963";
$flaticon-black-plane: "\e969";
$flaticon-edit-fill-2: "\e93d";
$flaticon-camera: "\e952";
$flaticon-mic: "\e958";
$flaticon-copy-line-1: "\e968";
$flaticon-user-plus: "\e974";
$flaticon-user-check: "\e97d";
$flaticon-quotes-left: "\e98f";
$flaticon-quotes-right: "\e9b8";
$flaticon-spinner-1: "\e9bb";
$flaticon-spinner-4: "\e9bc";
$flaticon-spinner-3: "\e9bd";
$flaticon-spinner-2: "\e9be";
$flaticon-spinner-5: "\e9d6";
$flaticon-star-empty: "\e9f1";
$flaticon-star-half: "\e9fd";
$flaticon-star-full: "\e9fe";
$flaticon-volume-medium: "\ea27";
$flaticon-volume-mute: "\ea29";
$flaticon-volume-mute-fill: "\ea2a";
$flaticon-volume-increase: "\ea2b";
$flaticon-volume-decrease: "\ea2c";
$flaticon-arrow-up-left: "\ea39";
$flaticon-arrow-up: "\ea3a";
$flaticon-arrow-up-right: "\ea3b";
$flaticon-arrow-right: "\ea3c";
$flaticon-arrow-down-right: "\ea3d";
$flaticon-arrow-down-1: "\ea3e";
$flaticon-arrow-down-left: "\ea3f";
$flaticon-arrow-left-1: "\ea40";
$flaticon-text-height: "\ea5f";
$flaticon-text-width: "\ea60";
$flaticon-font-size: "\ea61";

